.home {
  height: 100vh;
  position: relative;
  background-image: url(../img/h_img1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0%;
  color: white;
  line-height: 200px;
  padding-top: 50px;
}
span {
  display: block;
}
p {
  line-height: 3em;
}
h2 {
  text-align: center;
  font-weight: bold;
  font-family: "Solway", serif;
}
.about {
  text-align: center;
  font-family: "Solway", serif;
}
.services {
  text-align: center;
  color: white;
  background-image: url(../img/services.jpg);
  padding: 3.5em;
}
 /* img {  
   margin-right: 1em;
   text-align: center; 
}
*/
 
.col-md-4{
    float: left;
    width: 23%; 
    padding: 25px 30px 75px 100px; 
   
}
.portfolio{
    padding:10 px;
    text-align: center;
    margin: 20px;
}
.contacts{
    background-image: url(../img/contacts.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    line-height: 45px;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
}
h3{
    font-weight: bolder;
    font-size: 15px;
}
.header{
    text-align: center;
}
.icons{
   /* width: 500px; */
   /* position: static; */
   /* left: 0; */
   text-align: center;
   margin-top: 50px;

}
h4{
    text-align: center;
    font-family: "Solway", serif;
    font-size: 14px;
}
#dev-m{
    display: none;
    text-align: center;
    line-height: 110%;
}
#des-m{
    display: none;
    line-height: 100%;
    text-align: center;
}
#prod-m{
    display: none;
    text-align: center;
}
 #name{
    background: none;
}
#email{
    background: none;
}
#message{
    background: none;
}
button{
    background: none;
}
#submit{
    background: none;
    text-align: center;
}
#mce-responses{
    background: none;
}
#NAME{
    background: transparent;
    width: 70px;
    border: 2px solid;

}
#EMAIL{
    background: transparent;
    width: 40%;
}
#MESSAGE{
    background: transparent;
    width: 50%;
    height: 200px;
    padding-bottom: 10%;
    text-align: center;
}
.footer{
    padding-top: 50px;
    font-weight: bolder;
}
